<html>
    <head>
        <meta charset="utf-8">
        <title>
            XX教育
        </title>
		<link rel="stylesheet" type="text/css" href="css/common.css" media="all">
		<link rel="stylesheet" type="text/css" href="css/font-awesome.css" media="all">
		<link rel="stylesheet" type="text/css" href="css/home.css" media="all">
		<link rel="stylesheet" type="text/css" href="css/reset.css" media="all">
		<link rel="stylesheet" type="text/css" href="css/snower.css" media="all">
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <!-- Mobile Devices Support @begin -->
	<meta name="viewport" content="width=device-width, initial-scale=1" /> 
        <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
        <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
        <meta content="no-cache" http-equiv="pragma">
        <meta content="0" http-equiv="expires">
        <meta content="telephone=no, address=no" name="format-detection">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <!-- apple devices fullscreen -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="description" content="Font Awesome, the iconic font designed for Bootstrap">
        <!-- Mobile Devices Support @end -->
    </head>
    
    <body onselectstart="return true;" ondragstart="return false;">
        <div class="body">
            <!-- 幻灯片管理 -->
            <div style="-webkit-transform:translate3d(0,0,0);">
                <div id="banner_box" class="box_swipe" style="visibility: visible;">
                    <ul style="list-style: none; width: 1284px; transition: 500ms; -webkit-transition: 500ms; -webkit-transform: translate3d(0px, 0px, 0px);">
                        <li style="width: 428px; display: table-cell; vertical-align: top;">
                            <a onclick="return false;">
                                <img src="http://img.weimob.com/static/5e/f7/70/image/20140212/20140212162807_27003.jpg"
                                alt="春季热报争抢坐席" style="width:100%;">
                            </a>
                        </li>
                    </ul>
                    <ol>
                        <li class="on">
                        </li>
                    </ol>
                </div>
            </div>
            <br>
            <section>
                <div>
					<style>
						.h80{height:80px;}
					</style>
                    <ul class="list_ul">
                        <li class="box">
                            <dl class="h80">
                                <a href="/weisite/list?pid=20539&amp;bid=37786&amp;wechatid=oOyWgjgeBwD1WBNzQvE7gpKEs448&amp;ltid=40717&amp;wxref=mp.weixin.qq.com">
                                    <dd>
                                        <div>
                                            <span class="icon-home">
                                            </span>
                                        </div>
                                    </dd>
                                    <dt>
                                        企业文化
                                    </dt>
                                </a>
                            </dl>
                            <dl class="h80">
                                <a href="/weisite/list?pid=20539&amp;bid=37786&amp;wechatid=oOyWgjgeBwD1WBNzQvE7gpKEs448&amp;ltid=40718&amp;wxref=mp.weixin.qq.com">
                                    <dd>
                                        <div>
                                            <span class="icon-picture">
                                            </span>
                                        </div>
                                    </dd>
                                    <dt>
                                        校园环境
                                    </dt>
                                </a>
                            </dl>
                            <dl class="h80">
                                <a href="xx">
                                    <dd>
                                        <div>
                                            <span class="icon-user">
                                            </span>
                                        </div>
                                    </dd>
                                    <dt>
                                        优秀团队
                                    </dt>
                                </a>
                            </dl>
                        </li>
                        <li class="box">
                            <dl>
                                <a href="/weisite/list?pid=20539&amp;bid=37786&amp;wechatid=oOyWgjgeBwD1WBNzQvE7gpKEs448&amp;ltid=40722&amp;wxref=mp.weixin.qq.com">
                                    <dd>
                                        <div>
                                            <span class="icon-list-ul">
                                            </span>
                                        </div>
                                    </dd>
                                    <dt>
                                        了解课程
                                    </dt>
                                </a>
                            </dl>
                            <dl>
                                <a href="/webreserve/ReserveBook?rid=2384&amp;wechatid=oOyWgjgeBwD1WBNzQvE7gpKEs448">
                                    <dd>
                                        <div>
                                            <span class="icon-pencil">
                                            </span>
                                        </div>
                                    </dd>
                                    <dt>
                                        课程预约
                                    </dt>
                                </a>
                            </dl>
                        </li>
                        <li class="box">
                            <dl class="h80">
                                <a href="/weisite/list?pid=20539&amp;bid=37786&amp;wechatid=oOyWgjgeBwD1WBNzQvE7gpKEs448&amp;ltid=40726&amp;wxref=mp.weixin.qq.com">
                                    <dd>
                                        <div>
                                            <span class="icon-trophy">
                                            </span>
                                        </div>
                                    </dd>
                                    <dt>
                                        希望之星
                                    </dt>
                                </a>
                            </dl>
                            <dl class="h80">
                                <a href="http://www.weimob.com/Webnewmemberscore/store?pid=20539&amp;wechatid=oOyWgjmscurQU1zwJKjZ_Nd0cVpQ">
                                    <dd>
                                        <div>
                                            <span class="icon-phone">
                                            </span>
                                        </div>
                                    </dd>
                                    <dt>
                                        联系我们
                                    </dt>
                                </a>
                            </dl>
                            <dl class="h80">
                                <a href="/weisite/channel?pid=20539&amp;bid=37786&amp;wechatid=oOyWgjgeBwD1WBNzQvE7gpKEs448&amp;categoryid=40729&amp;wxref=mp.weixin.qq.com">
                                    <dd>
                                        <div>
                                            <span class="icon-spinner">
                                            </span>
                                        </div>
                                    </dd>
                                    <dt>
                                        外部链接
                                    </dt>
                                </a>
                            </dl>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <footer style="overflow:visible;">
            <div class="weimob-copyright" style="padding-bottom:50px;">
                <a href="/weisite/home?pid=20539&amp;bid=37786&amp;wechatid=oOyWgjgeBwD1WBNzQvE7gpKEs448&amp;wxref=mp.weixin.qq.com">
                    © XX教育
                </a>
            </div>
        </footer>
        <div mark="stat_code" style="width:0px; height:0px; display:none;">
        </div>
    </body>

</html>
