<html>
    
    <head>
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
        <meta content="telephone=no" name="format-detection">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>
            最新动态
        </title>
        <link href="css/global.css" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <link href="css/style2.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="css/font-awesome.css" media="all">
		<link rel="stylesheet" type="text/css" href="css/common.css" media="all">
		<link rel="stylesheet" type="text/css" href="css/ui-1-1.css" media="all">
    </head>
    
    <body>
		<div class="top_bar">
			<nav>
				<ul class="top_menu">
					<li onclick="window.history.go(-1);">
						<span class="icon-chevron-sign-left">
						</span>
					</li>
					<li onclick="location.href='/weisite/home?pid=20539&amp;bid=37786&amp;wechatid=oOyWgjgeBwD1WBNzQvE7gpKEs448&amp;wxref=mp.weixin.qq.com'">
						<span class="icon-home">
						</span>
					</li>
					<li>
						<a href="tel:0574-87808688">
							<span class="icon-phone">
							</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
        <div id="web_page_contents_loading">
            <img src="http://static.ptweixin.com/api/web/images/loading.gif">
        </div>
        <div id="web_page_contents" style="padding-top:36px;">
            <div class="wrap" id="column">
                <div class="list-type-0">
                    <a ajax_url="/api/f0ce95782c/web/column/article/23356/" target="_self">
                        <div class="item">
                            <div class="img">
                                <img src="http://img.ptweixin.com/1954/1402/0787937376.jpg.280x200.jpg">
                            </div>
                            <div class="info">
                                <h1>
                                    腾辉家居儿童福利院送爱心
                                </h1>
                                <h2>
                                    2014年2月20日，腾辉家居员工和爱心顾客带着孩子，拿着礼物一起去市儿童福利院看望……
                                </h2>
                            </div>
                            <div class="detail">
                                <span>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <input type="hidden" name="ShareTitle" value="最新动态">
            </div>
        </div>
        <div id="footer_points">
        </div>
        <footer id="footer" style="display:none;">
            <ul>
                <li class="first" style="width: 24.999%;">
                    <a ajax_url="/api/f0ce95782c/web/column/11433/" target="_self">
                        <img src="http://static.ptweixin.com/api/web/skin/default/images/nav-dot.png">
                        公司简介
                    </a>
                </li>
                <li class="" style="width: 24.999%;">
                    <a ajax_url="/api/f0ce95782c/web/column/11434/" target="_self">
                        <img src="http://static.ptweixin.com/api/web/skin/default/images/nav-dot.png">
                        最新动态
                    </a>
                </li>
                <li class="" style="width: 24.999%;">
                    <a href="/api/f0ce95782c/stores/?wxref=mp.weixin.qq.com" target="_self">
                        <img src="http://static.ptweixin.com/api/web/skin/default/images/nav-dot.png">
                        联系我们
                    </a>
                </li>
                <li class="" style="width: 24.999%;">
                    <dl>
                        <dd class="first">
                            <a ajax_url="/api/f0ce95782c/web/column/11436/" target="_self">
                                巴黎左岸
                            </a>
                        </dd>
                        <dd class="">
                            <a ajax_url="/api/f0ce95782c/web/column/11437/" target="_self">
                                丹尼诗
                            </a>
                        </dd>
                        <dd class="">
                            <a ajax_url="/api/f0ce95782c/web/column/11438/" target="_self">
                                巴索床垫
                            </a>
                        </dd>
                    </dl>
                    <div>
                        <img src="http://static.ptweixin.com/api/web/skin/default/images/nav-dot.png">
                        腾辉品牌
                    </div>
                </li>
            </ul>
        </footer>
    </body>

</html>