<html>
    
    <head>
        <meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/common.css" media="all">
		<link rel="stylesheet" type="text/css" href="css/font-awesome.css" media="all">
		<link rel="stylesheet" type="text/css" href="css/reset.css" media="all">
		<link rel="stylesheet" type="text/css" href="css/peak.css" media="all">
		<link rel="stylesheet" type="text/css" href="css/ui-1-1.css" media="all">
        <title>
            2014年度中央电视台“希望之星”英语风采大赛“维恩杯”宁波赛区章程
        </title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
        name="viewport">
        <!-- Mobile Devices Support @begin -->
        <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
        <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
        <meta content="no-cache" http-equiv="pragma">
        <meta content="0" http-equiv="expires">
        <meta content="telephone=no, address=no" name="format-detection">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <!-- apple devices fullscreen -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <!-- Mobile Devices Support @end -->
        <style>
            img{max-width:100%!important;}
        </style>
    </head>
    
    <body onselectstart="return true;" ondragstart="return false;">
        <div class="weimob-page">
            <div style="height:35px!important;">
            </div>
            <div class="top_bar">
                <nav>
                    <ul class="top_menu">
                        <li onclick="window.history.go(-1);">
                            <span class="icon-chevron-sign-left">
                            </span>
                        </li>
                        <li onclick="location.href='/weisite/home?pid=20539&amp;bid=37786&amp;wechatid=oOyWgjgeBwD1WBNzQvE7gpKEs448&amp;wxref=mp.weixin.qq.com'">
                            <span class="icon-home">
                            </span>
                        </li>
                        <li>
                            <a href="tel:0574-87808688">
                                <span class="icon-phone">
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="weimob-content">
                <h3>
                    2014年度中央电视台“希望之星”英语风采大赛“维恩杯”宁波赛区章程
                </h3>
                <div class="pub_time">
                    2013.11.20
                </div>
                <div class="head_logo" onclick="location.href='/weisite/home?pid=20539&amp;bid=37786&amp;wechatid=oOyWgjgeBwD1WBNzQvE7gpKEs448&amp;wxref=mp.weixin.qq.com'">
                    <div>
                        <span style="background-image:url('http://img.weimob.com/static/5e/f7/70/image/20140221/20140221153146_94181.jpg');">
                        </span>
                    </div>
                    <div style="width:100%;">
                        <label>
                            维恩教育
                        </label>
                        <div style="color:#ccc;">
                            Together_WeWin
                        </div>
                    </div>
                </div>
                <article>
                    <h1>
                        <div style="text-align:center;">
                            <br>
                        </div>
                    </h1>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;2014
                        <span>
                            年度中央电视台&nbsp;“希望之星”英语风采大赛（以下简称大赛），是由中央电视台等单位共同主办的，以培养兴趣、增强信心、展示风采、树立榜样为目的，旨在选拔全国各行业、各阶层英语爱好者中的佼佼者，为我国的经济、文化建设创造良好的语言环境。大赛定于
                        </span>
                        <span>
                            2013
                        </span>
                        <span>
                            年
                        </span>
                        <span>
                            11
                        </span>
                        <span>
                            月至
                        </span>
                        <span>
                            2014
                        </span>
                        <span>
                            年
                        </span>
                        <span>
                            7
                        </span>
                        <span>
                            月在全国举行，欢迎广大英语爱好者报名参赛。
                        </span>
                    </p>
                    <p class="p0">
                        <span style="font-size:14px;">
                            <strong>
                                一、组织机构
                            </strong>
                        </span>
                    </p>
                    <p class="p0">
                        <strong>
                            主办单位：
                        </strong>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;中国中央电视台
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;2014
                        <span>
                            南京世界青年奥林匹克运动会组织委员会
                        </span>
                    </p>
                    <p class="p0">
                        <strong>
                            合作单位：
                        </strong>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;中国教育国际交流协会
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;WWF
                        <span>
                            （世界自然基金会）
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;中视传媒股份有限公司
                    </p>
                    <p class="p0">
                        <strong>
                            宁波赛区主办单位：
                        </strong>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;东南商报
                    </p>
                    <p class="p0">
                        <strong>
                            宁波赛区承办单位：
                        </strong>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;宁波维恩教育
                    </p>
                    <p class="p0">
                        <strong>
                            宁波赛区联合承办单位：
                        </strong>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;宁波市海曙区镇明中心小学
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;宁波市江东区外国语实验小学　　　
                    </p>
                    <p class="p0">
                        <strong>
                            技术支持：
                        </strong>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;央视国际网络（
                        <span>
                            www.cctv.com
                        </span>
                        <span>
                            ）
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;央数文化（上海）股份有限公司（
                        <span>
                            www.cctvoe.com
                        </span>
                        <span>
                            ）
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;英国大使馆文化教育处
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;中国人民大学出版社
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;上海爱乐奇科技公司
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;宁波维恩教育培训学校作为
                        <span>
                            2014
                        </span>
                        <span>
                            年度中央电视台“希望之星”英语风采大赛宁波赛区的承办单位，负责成立各县市级赛区组委会，全面负责宁波赛区大赛的组织工作，对大赛在宁波赛区的所有赛事规定、活动安排、和各项决定有最终解释权。
                        </span>
                    </p>
                    <p class="p0">
                        <span style="font-size:14px;">
                            <strong>
                                二、大赛主题
                            </strong>
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;I&nbsp;have&nbsp;a&nbsp;dream
                        <span>
                            （把你的梦想告诉全世界）
                        </span>
                    </p>
                    <p class="p0">
                        <span style="font-size:14px;">
                            <strong>
                                三、大赛宗旨
                            </strong>
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;1.
                        <span>
                            培养兴趣、增强信心、展示风采、树立榜样；
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;2.
                        <span>
                            成长比成绩更重要，体验比名次更珍贵；
                        </span>
                    </p>
                    <p class="p0">
                        <span style="font-size:14px;">
                            <strong>
                                四、赛区及大赛组别设置
                            </strong>
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;1.
                        <span>
                            大赛设个人幼儿组、小学
                        </span>
                        <span>
                            A
                        </span>
                        <span>
                            组（小学
                        </span>
                        <span>
                            1
                        </span>
                        <span>
                            －
                        </span>
                        <span>
                            3
                        </span>
                        <span>
                            年级）、小学
                        </span>
                        <span>
                            B
                        </span>
                        <span>
                            组（小学
                        </span>
                        <span>
                            4
                        </span>
                        <span>
                            －
                        </span>
                        <span>
                            5
                        </span>
                        <span>
                            年级）、小学
                        </span>
                        <span>
                            C
                        </span>
                        <span>
                            组（小学
                        </span>
                        <span>
                            6
                        </span>
                        <span>
                            年级）、初中组、高中组、大学成人组（
                        </span>
                        <span>
                            18
                        </span>
                        <span>
                            周岁以上）共七个参赛组别。（注意事项：幼儿组晋级全国预选赛，但不参加总决赛节目录制。小学
                        </span>
                        <span>
                            BC
                        </span>
                        <span>
                            组组成小学
                        </span>
                        <span>
                            B
                        </span>
                        <span>
                            组晋级全国预选赛。大学组不参加总决赛节目录制）
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;2.
                        <span>
                            大赛分为资格赛、初赛、复赛、县市级决赛、地区决赛、省级决赛、全国预选赛和全国总决赛八个阶段（其中县市区级决赛由地级组委会根据各组别参赛人数决定）；
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;3.
                        <span>
                            浙江省设县市级赛区组委会、地区级赛区组委会和省级赛区组委会，各级组委会由上一级组委会授权成立并监督指导工作；
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;4.
                        <span>
                            县市级赛区组委会承担本赛区的资格选拔赛、初赛、复赛、县市级决赛，负责向地区决赛选送选手；地级赛区组委会负责地区决赛，负责向省级决赛选送选手；省级赛区组委会负责省级决赛，负责向全国预选赛选送选手；
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;5.
                        <span>
                            各地区组委会根据本赛区的实际情况确定本地区赛事的赛程和赛制，公正、公开、公平的选拔选手，晋级市级决赛和省级决赛的名额根据上一级组委会规定选拔；
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;6.
                        <span>
                            省级决赛分为省半决赛和决赛，由省组委会组织，参赛选手为各地区决赛选送的选手。省级赛区组委会由全国组委会授权成立，监督省内各级赛区的赛事组织工作，省级组委会根据本省赛区的实际情况确定赛事的赛程和赛制，公正、公开、公平的选拔选手，浙江省晋级全国预选赛的名额由全国组委会决定；
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;7.
                        <span>
                            全国预选赛和全国总决赛，由全国组委会组织实施。中央电视台对全国总决赛阶段的比赛全程录像并制作节目播出；
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;8.
                        <span>
                            中央电视台将选出部分获奖选手参与录制大赛特别节目，在科教频道播出。&nbsp;
                        </span>
                    </p>
                    <p class="p0">
                        <span style="font-size:14px;">
                            <strong>
                                五、比赛安排
                            </strong>
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;1.
                        <span>
                            资格赛：各县市自行安排
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;2.
                        <span>
                            初赛报名：
                        </span>
                        <span>
                            2
                        </span>
                        <span>
                            月
                        </span>
                        <span>
                            20
                        </span>
                        <span>
                            日——
                        </span>
                        <span>
                            3
                        </span>
                        <span>
                            月
                        </span>
                        <span>
                            15
                        </span>
                        <span>
                            日
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;3.
                        <span>
                            初&nbsp;&nbsp;&nbsp;&nbsp;赛：
                        </span>
                        <span>
                            3
                        </span>
                        <span>
                            月
                        </span>
                        <span>
                            22
                        </span>
                        <span>
                            日——
                        </span>
                        <span>
                            3
                        </span>
                        <span>
                            月
                        </span>
                        <span>
                            23
                        </span>
                        <span>
                            日
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;4.
                        <span>
                            复赛报名：
                        </span>
                        <span>
                            3
                        </span>
                        <span>
                            月
                        </span>
                        <span>
                            27
                        </span>
                        <span>
                            日——
                        </span>
                        <span>
                            4
                        </span>
                        <span>
                            月
                        </span>
                        <span>
                            4
                        </span>
                        <span>
                            日
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;5.
                        <span>
                            复赛培训：
                        </span>
                        <span>
                            4
                        </span>
                        <span>
                            月
                        </span>
                        <span>
                            7
                        </span>
                        <span>
                            日——
                        </span>
                        <span>
                            4
                        </span>
                        <span>
                            月
                        </span>
                        <span>
                            18
                        </span>
                        <span>
                            日
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;6.
                        <span>
                            复&nbsp;&nbsp;&nbsp;&nbsp;赛：
                        </span>
                        <span>
                            4
                        </span>
                        <span>
                            月
                        </span>
                        <span>
                            19
                        </span>
                        <span>
                            日——
                        </span>
                        <span>
                            4
                        </span>
                        <span>
                            月
                        </span>
                        <span>
                            20
                        </span>
                        <span>
                            日
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;7.
                        <span>
                            半决赛确认：
                        </span>
                        <span>
                            4
                        </span>
                        <span>
                            月
                        </span>
                        <span>
                            25
                        </span>
                        <span>
                            日——
                        </span>
                        <span>
                            4
                        </span>
                        <span>
                            月
                        </span>
                        <span>
                            30
                        </span>
                        <span>
                            日
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;8.
                        <span>
                            半决赛培训：
                        </span>
                        <span>
                            5
                        </span>
                        <span>
                            月
                        </span>
                        <span>
                            5
                        </span>
                        <span>
                            日——
                        </span>
                        <span>
                            5
                        </span>
                        <span>
                            月
                        </span>
                        <span>
                            9
                        </span>
                        <span>
                            日
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;9.
                        <span>
                            半&nbsp;决&nbsp;赛：
                        </span>
                        <span>
                            5
                        </span>
                        <span>
                            月
                        </span>
                        <span>
                            10
                        </span>
                        <span>
                            日——
                        </span>
                        <span>
                            5
                        </span>
                        <span>
                            月
                        </span>
                        <span>
                            11
                        </span>
                        <span>
                            日
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;10.
                        <span>
                            总决赛培训：
                        </span>
                        <span>
                            5
                        </span>
                        <span>
                            月
                        </span>
                        <span>
                            12
                        </span>
                        <span>
                            日——
                        </span>
                        <span>
                            5
                        </span>
                        <span>
                            月
                        </span>
                        <span>
                            16
                        </span>
                        <span>
                            日（宁波）
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;11.
                        <span>
                            地区总决赛：
                        </span>
                        <span>
                            5
                        </span>
                        <span>
                            月
                        </span>
                        <span>
                            18
                        </span>
                        <span>
                            日
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;注：（如有临时时间变动，以组委会另行通知为准）
                    </p>
                    <p class="p0">
                        <span style="font-size:14px;">
                            <strong>
                                六、参赛资格
                            </strong>
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;1.
                        <span>
                            凡喜爱英语的中国公民均可报名参加大赛；
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;2.
                        <span>
                            为了让更多的选手有机会参赛，已经进入过往届全国总决赛阶段决赛部分的选手，不得再次报名参加同组别的比赛；
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;3.
                        <span>
                            已设立赛区的各地选手持身份证或户口本、一寸正面免冠近照
                        </span>
                        <span>
                            2
                        </span>
                        <span>
                            张、参赛费，到本赛区公布的赛事组织机构办理报名手续；团体报名可到所在学校任课教师处领取大赛报名表格，填写好交给任课教师；
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;4.
                        <span>
                            参赛选手严格按照本人学习或工作所在地报名，严禁跨区域报名；
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;5.
                        <span>
                            参赛选手必须按照自己实际学籍状况报名参加本组别的比赛，严禁跨组别报名；
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;6.
                        <span>
                            宁波市内未设赛区的选手可就近到组委会指定的县市级赛区报名或参加网络赛区选拔；
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;7.
                        <span>
                            进入到初赛环节的选手，将获得大赛组委会赠送的《成长记录》
                        </span>
                        <span>
                            1
                        </span>
                        <span>
                            本和参赛注册卡，选手必须持注册卡在规定时间内，登录希米网（
                        </span>
                        <span>
                            <a href="http://www.cctvoe.com" target="_blank">
                                <span style="color:#003399;">
                                    www.cctvoe.com
                                </span>
                            </a>
                        </span>
                        <span>
                            ）注册参赛信息，获得确认激活成功后方可参加后续比赛，未及时按要求注册的选手，后续参赛资格和比赛成绩无效，自行负责。
                            <span style="color:#E53333;">
                                （幼儿组无需注册）
                            </span>
                        </span>
                    </p>
                    <p class="p0">
                        <span style="font-size:14px;">
                            <strong>
                                七、奖项设置
                            </strong>
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;1.
                        <span>
                            各县市级赛区决赛和地区赛区决赛阶段，由赛区组委会为获奖选手颁发获奖证书；
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;2.
                        <span>
                            浙江省总决赛个人赛阶段，每组设置冠军
                        </span>
                        <span>
                            1
                        </span>
                        <span>
                            名，亚军
                        </span>
                        <span>
                            3
                        </span>
                        <span>
                            名，季军
                        </span>
                        <span>
                            3
                        </span>
                        <span>
                            名（最终名额按成长记录注册数量决定）；一等奖、二等奖、三等奖根据参赛选手比例设置若干名；大赛组委会将为获得冠亚季军的选手颁发奖杯和奖状；为获得其他奖项的选手颁发奖状和纪念品；为获奖选手的指导教师颁发优秀指导证书；
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;3.
                        <span>
                            各地区决赛阶段设置单项奖最佳才艺奖若干名（幼儿组、小学
                        </span>
                        <span>
                            A
                        </span>
                        <span>
                            组、小学
                        </span>
                        <span>
                            B
                        </span>
                        <span>
                            组、初中组），并为获奖选手颁发单项奖获奖证书。获得该奖项的选手将代表该地区晋级中央电视台“希望之星”英语风采大赛“希望中国”英语达人秀全国总决赛；单项奖名星学员奖
                        </span>
                        <span>
                            11
                        </span>
                        <span>
                            名（以赛区为单位）；单项奖最佳人气奖若干名（所有组别），高中组、大学组获得各地区冠、亚、季军及一等奖选手可参加国际赛。
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;4.
                        <span>
                            根据国家广播电视总局下发的《广电总局关于进一步加强广播电视播出机构参与、主办或播出全国性或跨省（区、市）赛事等活动管理的通知》（
                        </span>
                        <span>
                            2006
                        </span>
                        <span>
                            年
                        </span>
                        <span>
                            3
                        </span>
                        <span>
                            月
                        </span>
                        <span>
                            13
                        </span>
                        <span>
                            日）中第
                        </span>
                        <span>
                            4
                        </span>
                        <span>
                            条的规定：“各级广播电视播出机构参与、主办或播出的全国性或跨省（区、市）赛事活动一律不设奖金奖品。”本届大赛全国总决赛阶段，各奖项一律不设奖金和任何形式的奖品；只为获奖选手颁发奖杯、证书及纪念品；
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;5.
                        <span>
                            浙江省总决赛阶段，根据各赛区代表队成绩，评出团体总分前
                        </span>
                        <span>
                            6
                        </span>
                        <span>
                            名；根据各赛区组织情况，评出最佳组织奖若干；授予获奖证书、奖牌；
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;6.
                        <span>
                            大赛结束后，全国组委会将组织优秀选手参加夏令营活动，详细资料请咨询各地赛区组织单位，或关注全国组委会相关信息；
                        </span>
                    </p>
                    <p class="p0">
                        <span style="font-size:14px;">
                            <strong>
                                八、其他
                            </strong>
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;1.
                        <span>
                            大赛免收报名费，资格赛参赛费；
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;2.
                        <span>
                            赛区选拔赛阶段由各赛区承办单位制定本赛区相应规定
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;3.
                        <span>
                            进入各赛区初赛环节的选手每人须缴纳
                        </span>
                        <span>
                            100
                        </span>
                        <span>
                            元的初赛参赛费
                        </span>
                        <span>
                            ,
                        </span>
                        <span>
                            宁波组委会将赠送全国组委会编辑出版的《成长记录—
                        </span>
                        <span>
                            2014
                        </span>
                        <span>
                            年度大赛参赛手册》，供参赛选手使用，由各赛区承办单位具体实施；
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;4.
                        <span>
                            进入各赛区复赛环节的选手每人须缴纳&nbsp;
                        </span>
                        <span>
                            90
                        </span>
                        <span>
                            元&nbsp;的复赛参赛费。
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;5.
                        <span>
                            各级赛区可以为报名选手提供与大赛有关的培训，收费合理的，服务到位的各种必要的有偿服务，由选手自愿参加；
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;6.
                        <span>
                            选手参赛过程中，如必须集中某地比赛，而产生的交通、食宿、活动管理费等费用，由选手自理；
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;7.
                        <span>
                            进入县市决赛和地区决赛的选手，不再缴纳参赛费，可能产生的交通或食宿费用自理。
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;8.
                        <span>
                            进入省决赛的选手食宿统一安排，省组委会收取赛务费（省决赛选手费用为每人
                        </span>
                        <span>
                            1080
                        </span>
                        <span>
                            元
                        </span>
                        <span>
                            /
                        </span>
                        <span>
                            人，（含
                        </span>
                        <span>
                            2
                        </span>
                        <span>
                            天食宿、参赛费、资料费、管理费、活动费、讲座费等）家长同住宿为
                        </span>
                        <span>
                            780
                        </span>
                        <span>
                            元
                        </span>
                        <span>
                            /
                        </span>
                        <span>
                            人
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;9.
                        <span>
                            浙江组委会编写了《中央电视台希望之星英语风采大赛培训教程》，供各赛区开展赛前培训使用；大赛各阶段比赛的选拔方式和赛题形式以《培训教程》为准，由各赛区组织机构负责具体解释说明和赛前培训工作，选手自愿报名参加。
                        </span>
                    </p>
                    <p class="p0">
                        &nbsp;&nbsp;&nbsp;&nbsp;10.
                        <span>
                            大赛结束后，全国组委会将组织各种境外体验夏令营活动，详细资料请咨询各地区组织单位，或关注全国组委会相关信息。
                        </span>
                    </p>
                    <p class="p0">
                        <span style="font-size:14px;">
                            <strong>
                                九、联系方式
                            </strong>
                        </span>
                    </p>
                    <p class="p0">
                        2014
                        <span>
                            年中央电视台“希望之星”英语风采大赛宁波赛区组委会
                        </span>
                    </p>
                    <p class="p0">
                        地&nbsp;&nbsp;&nbsp;&nbsp;址：宁波市江东区桑田路
                        <span>
                            722
                        </span>
                        <span>
                            弄
                        </span>
                        <span>
                            16
                        </span>
                        <span>
                            号
                        </span>
                        <span>
                            3
                        </span>
                        <span>
                            楼维恩教育
                        </span>
                    </p>
                    <p class="p0">
                        联系电话：
                        <span>
                            0574-87937959
                        </span>
                    </p>
                    <p class="p0">
                        大赛网址：希米网
                        <span>
                            www.cctvoe.com
                        </span>
                    </p>
                    <p class="p0">
                        浙江省大赛官网：
                        <span>
                            www.zhejiangxiwang.com
                        </span>
                    </p>
                    <p class="p0">
                        宁波市大赛官网：
                        <span>
                            www.wewinchina.com
                        </span>
                    </p>
                    <p class="p0">
                        “希望之星”英语风采大赛宁波组委会对本届大赛的所有活动安排有最终解释权。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    <p class="p0">
                        <br>
                    </p>
                    <p class="p0">
                        <br>
                    </p>
                    <p class="p0" style="text-align:right;">
                        <span style="font-size:10px;">
                            2014
                        </span>
                        <span style="font-size:10px;">
                            年度中央电视台“希望之星”英语风采大赛
                        </span>
                    </p>
                    <p class="p0" style="text-align:right;">
                        <span style="font-size:10px;">
                            宁波赛区组委会
                        </span>
                    </p>
                    <p class="p0" style="text-align:right;">
                        <span style="font-size:10px;">
                            2013
                        </span>
                        <span style="font-size:10px;">
                            年
                        </span>
                        <span style="font-size:10px;">
                            12
                        </span>
                        <span style="font-size:10px;">
                            月
                        </span>
                    </p>
                    <p class="p0" style="text-align:right;">
                        <span>
                            <br>
                        </span>
                    </p>
                    <p class="p0" style="text-align:center;">
                        <span>
                            <img src="http://img.weimob.com/static/5e/f7/70/image/20140221/20140221163405_79542.jpg"
                            alt="">
                            <br>
                        </span>
                    </p>
                    <p>
                        <br>
                    </p>
                </article>
            </div>
            <section style="width:95%; margin:0px auto;">
                <div id="mcover" onclick="document.getElementById('mcover').style.display='';"
                style="display:none;">
                    <img src="http://stc.weimob.com/img/guide.png?=2014-03-07-1">
                </div>
                <div class="text" id="content">
                    <div id="mess_share">
                        <div id="share_1">
                            <button class="button2" onclick="document.getElementById('mcover').style.display='block';">
                                <img src="http://stc.weimob.com/img/icon_msg.png?=2014-03-07-1">
                                &nbsp;发送给朋友
                            </button>
                        </div>
                        <div id="share_2">
                            <button class="button2" onclick="document.getElementById('mcover').style.display='block';">
                                <img src="http://stc.weimob.com/img/icon_timeline.png?=2014-03-07-1">
                                &nbsp;分享到朋友圈
                            </button>
                        </div>
                        <div class="clr">
                        </div>
                    </div>
                </div>
            </section>
            <div style="padding-bottom:5px!important;">
                <a href="javascript:window.scrollTo(0,0);" style="font-size:12px;margin:5px auto;display:block;color:#fff;text-align:center;line-height:35px;background:#333;margin-bottom:-10px;">
                    返回顶部
                </a>
            </div>
            <!-- 分享前控制 -->
        </div>
        <footer style="overflow:visible; margin-top:0px">
            <div class="weimob-copyright" style="padding-bottom:50px;">
                <a href="/weisite/home?pid=20539&amp;bid=37786&amp;wechatid=oOyWgjgeBwD1WBNzQvE7gpKEs448&amp;wxref=mp.weixin.qq.com">
                     XX教育
                </a>
            </div>
        </footer>
    </body>

</html>